#!/usr/bin/env python

import os

def convert_bytes(num):
    """
    this function will convert bytes to MB.... GB... etc
    """
    for x in ['bytes', 'KB', 'MB', 'GB', 'TB']:
        if num < 1024.0:
            return "%3.1f %s" % (num, x)
        num /= 1024.0

def main():
  
  dex_file = open('{{ inventory_hostname | regex_replace('-.*$') }}.txt', 'r')
  dex_list = dex_file.read().splitlines()
  dex_file.close()
  path = ""
  not_found_count = 0
  del_count = 0
  space_free = 0
  for hash in dex_list:
    path = os.path.join(hash[0:2].upper(),hash)
    if os.path.exists(path):
      statinfo = os.stat(path)
      space_free += statinfo.st_size
      del_count += 1
      os.remove(path)
    else: 
      not_found_count += 1

  results = ""

  results += "DELETED:\t{}\n".format(del_count)
  results += "NOT FOUND:\t{}\n".format(not_found_count)
  results += "Space free:\t{}\n".format(convert_bytes(space_free))

  index = open('index.txt', 'r+')
  index.write(results)
  index.close()

if __name__ == "__main__":
    main()
